body
{
  font-size: 11px;
}

.App-logo {
  height: 150px;
  margin: 50px;
}

.input-search
{
  width: 400px;
}


.login {
  margin-top: 150px;
  margin-right: 300px;
  margin-left: 300px;
  width: 520px;
}

.tdsmall
{
  width: 20px;
}


.fase-dos
{
  background-color : #ffc000;
}


.fase-tres
{
  background-color : #fcff00 ;
}


.fase-cuatro
{
  background-color : #ffffff;
}



.fase-cinco
{
  background-color :  #92d050;
}


.cambios{
  background-color: #d28d8d;
}

.pendientes
{
  background-color: #ff0000;
}

.divHistorial
{
        width: 100%;
        overflow: scroll;
        height: 500px;

}

.espacio
{
  margin-bottom: 300px;
}

